.canvasElement {
  position: relative;
  display: inline-block;
  /* so adding a border doesn't change size */
  border: 1px solid transparent;
}

.selected {
  border: 1px solid #eef;
}

/* Need this to capture all click events on elements*/
.canvasElement:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}