.canvas {
  border: 2px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  order: 2;
  padding: 30px;
  overflow: scroll;
  margin: 20px;
}

.slideWrapper {
  width: 85%;
  min-width: 400px;
  max-width: calc(90vh / 0.7727);
  position: relative;
  background-color: #eee;
}

.slideWrapper:after {
   /* 22:17 ratio which is hardcoded in specatcle to 1100:850 */
  padding-top: 77.27%;
  display: block;
  content: "";
}

.slideContent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #777;
}