.handle {
  height: 0;
  margin: auto;
  position: absolute;
  top: -6px;
  width: 7px;
}

.handle::before {
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  content: "";
  cursor: ew-resize;
  height: 7px;
  position: absolute;
  width: 7px;
  z-index: 5;
}

.handleLeft {
  bottom: 0;
  left: -4px;
}

.handleRight {
  bottom: 0;
  right: -4px;
}

.cornerTopLeft {
  left: -4px;
  top: -4px;
  width: 20px;
  height: 20px;
  border: 1px solid red;
}
