.handle {
  position: absolute;

  margin: auto;
  z-index: var(--basic-increment);
}

.handleLeft::before,
.handleRight::before {
  content: "";
  position: absolute;

  background: #fff;
  border: 1px solid #000;
  height: 7px;
  width: 7px;
}

.handleLeft {
  top: -6px;
  bottom: 0;
  left: -5px;

  cursor: ew-resize;
  height: 0;
  width: 7px;
}

.handleRight {
  top: -6px;
  right: -2px;
  bottom: 0;

  cursor: ew-resize;
  height: 0;
  width: 7px;
}

.iconTopLeft,
.iconTopRight,
.iconBottomLeft,
.iconBottomRight,
.cornerTopLeft,
.cornerTopRight,
.cornerBottomLeft,
.cornerBottomRight {
  width: 20px;
  height: 20px;
}

.cornerTopLeft {
  top: -20px;
  left: -20px;

  cursor: nwse-resize;
}

.cornerTopRight {
  top: -20px;
  right: -20px;

  cursor: nesw-resize;
}

.iconTopRight {
  transform: rotate(90deg);
}

.cornerBottomLeft {
  bottom: -20px;
  left: -20px;

  cursor: nesw-resize;
}

.iconBottomLeft {
  transform: rotate(270deg);
}

.cornerBottomRight {
  bottom: -20px;
  right: -20px;

  cursor: nwse-resize;
}

.iconBottomRight {
  transform: rotate(180deg);
}
