@import '../../variables.css';

.editor {
  order: 5;
  width: 220px;
  color: var(--secondary-font-color);
  position: relative;
  overflow: hidden;
  border-left: 1px solid var(--primary-border-color);
}

.editor h2 {
  color: var(--secondary-font-color);
}

.menu {
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 220px;
  left: -1px;
  transition: left 0.4s;
  z-index: 1;
  border-left: 1px solid var(--primary-border-color);

}

.menu.slidesInactive {
  left: -221px;
}

.menu.contextMenu {
  left: 221px;
  z-index: 2;
}

.menu.contextMenuActive {
  left: -1px;
  z-index: 3;
}
