@import '../../variables.css';

.breakHr {
  border-top: 1px solid var(--primary-border-color);
  box-sizing: border-box;
  height: 28px;
  margin-top: 35px;
  padding: 0;
  position: relative;
  width: 180px;
}

.breakTitle {
  background: var(--primary-background-color);
  color: #69738a;
  font-size: 10px;
  margin: 0 auto;
  letter-spacing: 1.5px;
  line-height: 1.9;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -8px;
  width: 100px;
}

.editor {
  border-left: 1px solid var(--primary-border-color);
  color: var(--secondary-font-color);
  order: 5;
  overflow: hidden;
  position: relative;
  width: 220px;
}

.editor h2 {
  color: var(--secondary-font-color);
}

.flexrow {
  display: flex;
  margin-bottom: 28px;
}

.flexspacebetween {
  justify-content: space-between;
}

.heading {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 18px;
  margin-bottom: 0;
  text-align: center;
}

.hr {
  position: relative;
  left: -10px;

  margin: 5px 0 8px;
  height: 0;
  width: 200px;

  border: 0;
  border-top: 1px solid var(--primary-border-color);
}

.hrList {
  margin-bottom: 25px;
}

.menu {
  background: var(--primary-background-color);
  border-left: 1px solid var(--primary-border-color);
  bottom: 0;
  height: 100%;
  left: -1px;
  position: absolute;
  top: 0;
  transition: left 0.4s;
  width: 220px;
  z-index: 1;
}

.menu.slidesInactive {
  left: -221px;
}

.menu.contextMenu {
  left: 221px;
  z-index: 2;
}

.menu.contextMenuActive {
  left: -1px;
  z-index: 3;
}

.row {
  margin-bottom: 25px;
}

.rowAlt {
  margin-bottom: 33px;
}

.select {
  height: 30px;
  width: 180px;
}

.selectNarrow {
  height: 30px;
  width: 100px;
}

.subHeading {
  color: #000;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.8;
  margin-bottom: 5px;
}

.wrapper {
  font-family: openSans;
  margin: 0 auto;
  width: 180px;
}
