@import '../../../../variables.css';

.canvasElement {
  position: relative;
  display: inline-block;
  cursor: move;
}

.content {
  margin: 0;
  outline: none;
  border: none;
  resize: none;
}

ol.content {
  margin-left: 1em;
  padding: 0;
  margin-right: 0;
  box-sizing: border-box;
  width: auto;
}

.line {
  margin: 0;
  position: relative;
}

li.line {
  box-sizing: border-box;
  width: 100%;
}


.list {
  counter-reset: element;
}

.line:empty::before {
  content: "\200b";
}

.editor {
  cursor: text;
}

.selected::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: calc(100% + 1px);
  height: calc(100% - 2px);
  top: 0;
  left: -1px;
  border: var(--selected-border);
  right: -5px;
  border: 2px dashed var(--secondary-border-color);
  border-radius: 2px;
}
