@import '../../../../variables.css';

.canvasElement {
  position: relative;
  display: inline-block;
  cursor: move;
}

.content {
  margin: 0;
  outline: none;
  border: none;
  resize: none;
}

.line {
  margin: 0;
  position: relative;
}

/*li.line {
  margin-left: 10px;
}*/

.list {
  counter-reset: element;
}

.line:empty::before {
  content: "\200b";
}

.editor {
  cursor: text;
}

.selected::before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 0;
  left: -1px;
  border: var(--selected-border);
  border-radius: 2px;
}
