.signInBtn {
  position: absolute;
  top: 12px;
  right: 40px;

  background: none;
  border: 0;
  box-shadow: none;
  color: var(--plotly-blue);
  outline: 0;
}

.signInBtn i {
  display: block;
  margin: 0 auto;

  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.signInCopy {
  margin: 0;

  font-size: 10px;
  font-weight: normal;
  line-height: 1.9;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.errorMessage {
  margin: 10px;
  padding: 10px;

  background-color: var(--warning);
  border-radius: 4px;
  border: 1px solid rgba(50, 57, 61, 0.3);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}


.form {
  border: 1px solid blue;
  padding: 0 20px;
  color: var(--primary-font-color);
}

.input {
  display: block;
  margin: 0;
  padding: 10px;

  border-radius: 4px;
  border: 1px solid var(--secondary-border-color);
  color: #000;
  font-family: inherit;
  font-size: 12px;
  line-height: 1;
  width: 100%;
}

.input:focus {
  border-color: var(--plotly-blue);
}

.label {
  display: block;
  margin: 20px auto 0;

  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.2px;
}

.button {
  display: block;
  margin: 20px auto 0;
  padding: 5px;

  background-color: var(--plotly-blue);
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

.formLink {
  margin-top: 20px;
  display: block;
  text-align: center;
}


.signUp {
  padding: 30px;
  border-top: 1px solid var(--primary-border-color);
  font-family: inherit;
  text-align: center;
}

.signUpHeading {
  margin: 0;

  color: var(--primary-font-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.signUp a,
.form a {
  color: var(--plotly-blue);
  font-size: 12px;
  line-height: 2;
  text-decoration: none;
}
