.loginOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loginModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(7, 24, 48, 0.7);
  z-index: 999999998;
}

.loginBrandingBackground {
  /* Cover the border */
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
  position: absolute;
  width: 250px;
  background-size: cover;
  border-radius: 4px 0 0 4px;
}

.loginBrandingLogo {
  position: absolute;
  left: 65px;
  top: 35px;
  width: 120px;
  height: 140px;
  background-size: contain;
}

.loginCloseButton {
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}

.loginCloseButton i {
  font-size: 24px;
  color: #447bdc;
  line-height: 16px;
}

.loginMenu {
  position: absolute;
  left: calc(50% - 300px);
  top: 59px;
  width: 600px;
  height: 480px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #ccc;
  z-index: 999999999;
}

.loginMenu h2 {
  color: #666;
}

.form {
  display: none;
}

.visible {
  display: block;
}
