.userMenu {
  position: absolute;
  top: 10px;
  right: 0;
  width: 240px;
  color: #3d3d3d;
}

.userMenu img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  float: left;
}

.userSubMenu h4 {
  margin: 5px 0 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #3d3d3d;
}

.signOut {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #447bdc;
  cursor: pointer;
}
