@import '../../../variables.css';

.alignmentWrapper {
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;
  display: flex;
  height: 25px;
  overflow: hidden;
  width: 180px;
}

.alignmentWrapper .selectedAlignment {
  background: var(--secondary-border-color);
}

.alignmentWrapper > .alignmentBox {
  height: 100%;
  padding-top: 5px;
  text-align: center;
  width: 33%;
}

.alignmentWrapper > .alignmentBox + .alignmentBox {
  border-left: 1px solid var(--primary-border-color);
}

.alignmentBox:last-child > svg{
  position: relative;
  left: -4px;
}

.alignmentBox > svg {
  color: #000;
  height: 16px;
  width: 16px;
}
