.colorPicker {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 30px;
  width: 150px;
}

.colorWrapper {
  position: relative;
  display: flex;
}

.dropper {
  height: 20px;
  width: 20px;
  position: relative;
}

.dropper > svg {
  fill: #3563d3;
  height: 20px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 15px;
}

.pickerWrapper {
  position: absolute;
  left: -20px;
  top: 31px;
  z-index: 5
}

.hidden {
  display: none;
}
