@import '../../../variables.css';

.formattingWrapper {
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  display: flex;
  height: 30px;
  margin-top: 7px;
  overflow: hidden;
  width: 160px;
}

.formattingWrapper > .formattingBox {
  height: 100%;
  padding-top: 5px;
  text-align: center;
  width: 25%;
}

.formattingBox svg {
  color: #000;
  height: 14px;
  width: 15px;
}
