@import '../../../variables.css';

.incrementerWrapper {
  box-sizing: border-box;
  display: flex;
  height: 30px;
  overflow: hidden;
  width: 70px;
}

.incrementerWrapper > input {
  border: 1px solid var(--secondary-border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  width: 42px;
}

.incrementerWrapper > .caretContainer {
  border: 1px solid var(--secondary-border-color);
  border-bottom-right-radius: 5px;
  border-left: none;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  width: 28px;
}

.incrementerWrapper .caretContainer > .caretBox {
  height: 50%;
  position: relative;
  width: 100%;
}

.incrementUp > svg {
  left: 4px;
  position: absolute;
  top: 4px;
}

.incrementDown > svg {
  left: 4px;
  position: absolute;
  top: 3px;
  transform: rotateX(180deg);
}
