@import '../../../variables.css';

.input {
  padding-left: 24px;
}

.input::before {
  content: "l";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  color: var(--plotly-blue);
  font-size: 24px;
  line-height: 1.5;
}
