@import '../../../variables.css';

.chevronBox {
  position: absolute;
  right: 10px;
}

.chevronBox svg {
  fill: var(--primary-border-color);
}

.focus {
  outline-width: 0;
}

.list {
  background: #fff;
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  width: 175px;
  z-index: 5;
}

.selectBox {
  background: #fff;
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;
  outline-width: 0;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 175px;
}
