@import '../../../variables.css';

.chevronBox {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.check {
  position: absolute;
  left: 5px;
}

.check  svg {
  fill: var(--secondary-border-color);
}

.chevronBox svg {
  fill: var(--primary-border-color);
}

.focus {
  outline-width: 0;
}

.hover {
  background: var(--select-hover-color);
}

.list {
  background: #fff;
  border: 2px solid var(--primary-border-color);
  box-shadow: var(--select-list-shadow);
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 0;
  position: absolute;
  width: 185px;
  z-index: 5;
}

.selectBox {
  background: #fff;
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;
  cursor: pointer;
  outline-width: 0;
  padding: 3px 15px;
  position: relative;
  width: 155px;
}

.selectWrapper {
  height: 20px;
}

.option {
  padding-left: 25px;
  cursor: pointer;
  outline-width: 0;
  position: relative;
}

