@import '../../../variables.css';

.chevronWrapper {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.checkWrapper {
  position: absolute;
  left: 5px;
}

.checkWrapper > .icon {
  height: ;
  fill: var(--secondary-border-color);
}

.chevronBox svg {
  fill: var(--primary-border-color);
}

.focus {
  outline-width: 0;
}

.hover {
  background: var(--select-hover-color);
}

.list {
  background: #fff;
  border: 2px solid var(--primary-border-color);
  box-shadow: var(--select-list-shadow);
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 0;
  position: absolute;
  width: 185px;
  z-index: 5;
}

.selectBox {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;
  cursor: pointer;
  outline-width: 0;
  margin: 0;
  padding: 7px 0 8px 18px;
  position: relative;
  font-size: 12px;
}

.selectWrapper {
  height: 20px;
}

.option {
  padding-left: 25px;
  cursor: pointer;
  outline-width: 0;
  position: relative;
}

