.home {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;

  align-items: stretch;
  width: 100%;
}
