.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 120px);
  width: 100%;
  background-color: #f8f8f9;
}
