@import '../../../variables.css';

.alignmentWrapper {
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;
  display: flex;
  height: 30px;
  margin-top: 8px;
  overflow: hidden;
  width: 133px;
}

.alignmentWrapper > span {
  height: 100%;
  padding-top: 7px;
  text-align: center;
  width: 33%;
}

.alignmentWrapper > span + span, .formattingWrapper > span + span {
  border-left: 1px solid var(--primary-border-color);
}

.alignmentWrapper svg {
  color: #000;
  height: 14px;
  width: 16px;
}

.formattingWrapper {
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  display: flex;
  height: 30px;
  margin-top: 7px; overflow: hidden;
  width: 160px;
}

.formattingWrapper > span {
  padding-top: 5px;
  height: 100%;
  text-align: center;
  width: 25%;
}

.formattingWrapper svg {
  width: 15px;
  height: 14px;
  color: #000;
}
