body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100wh;
  background-color: #ccc;
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}
