@font-face {
  font-family: "droidSans";
  src: url("./assets/fonts/droid_sans/droidsans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "droidSans";
  src: url("./assets/fonts/droid_sans/droidsans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "droidSansMono";
  src: url("./assets/fonts/droid_sans_mono/droidsansmono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-extrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/opensans/opensans-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

body {
  background-color: #fff;
  color: white;
  font-family: "open-sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  position: relative;
  width: 100vw;
}

h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin: 0;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}
