.list {
  order: 2;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.listWrapper {
  overflow-y: scroll;
  overflow-x: visible;
  z-index: 100;
  flex: 1;
}

.dropIndicator {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 3px;
  height: 100px;
  background: #447bdc;
}

.slideIndex {
  position: absolute;
  bottom: 3px;
  left: -40px;
  width: 30px;
  text-align: right;
  color: var(--tertiary-font-color);
}

.slideOuter {
  position: relative;
  padding: 20px;
  box-sizing: content-box;
}

.slideWrapper {
  width: 140px;
  height: 100px;
  background-color: white;
  position: relative;
}
