.list {
  order: 2;
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.listWrapper {
  overflow-y: scroll;
  overflow-x: visible;
}

.dropIndicator {
  position: absolute;
  top: 20px;
  right: 180px;
  width: 5px;
  height: 100px;
  background: #447bdc;
}

.slideOuter {
  position: relative;
  padding: 20px;
}

.slideWrapper {
  width: 140px;
  height: 100px;
  background-color: white;
  position: relative;
}
