.slideMenu {
  border-top: 1px solid #e7e8e9;
  flex: 0 0 80px;
  order: 2;
  margin: 0;
  padding: 10px 10px;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slideButton {
  background-color: transparent;
  border: 0;
  color: var(--plotly-blue);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  outline: 0;
  margin: 0 5px;
  width: 100%;
}

.slideButton:hover {
  cursor: pointer;
}

.icon {
  display: block;
  fill: var(--plotly-blue);
}
